header {
  display:flex;
  align-items: center;
  position:fixed;
  z-index:1;
  width:100%;
  height:80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
font-size: 14px;
font-weight: bold;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width:70px;
  height:60px;
  margin-right:12px;

}
.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}
nav span {
  display:inline-block;
  padding:20px 10px;
}
a {
  color: black;
}

body {
  margin: 0;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

div {
   border: 1px solid black;
}

.column.large {
  width:630px;
}

.columm {
  display:flex;
  flex-direction: column;
  margin-rignt: 32px;
}

.column.medium {
  width:300px;
}

.column.small {
  width:240px;
}

/* Add images - this is step 3 */

.image-content {
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-size:30px;
  color:white;
  text-align: center;
}

.lead-story .image-content {
  background-image: url("images/img-story-main.png");
  width:630px;
  margin-top: 0;
  font-size:40px;
  text-align;left;
}

.fall-cancelled.image-content {
  background-image: url("images/img-story-2.png");
}

.pop-culture.image-content {
  background-image: url("images/img-story-3.png");
}

.cat-ceo.image-content {
  background-image: url("images/img-story-1.png");
}

/* Make stories flexible - step 4 */
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height:250px;
}

.story {
  display: flex;
  flex-direction: column;
  width:300px;
}

.narrative {
  margin-top: 16px;
}
